<div class="admin-body">
    <h2>M PACK</h2>
    {{>slider}}
    <div class="admin-right">
        <div class="container viewProduct d-flex align-items-center justify-content-center  mt-5 mx-5">
            <table class=" table w-100 ">
                <thead>
                    <tr>
                         <th scope="col-md-3">No</th>
                        <th scope="col-md-3">Name</th>
                        <th scope="col-md-3">Email</th>
                        <th scope="col-md-3">Products</th>
                        <th scope="col-md-3">Price</th>
                        <th scope="col-md-3">Quantity</th>

                        <th scope="col-md-3">Address</th>
                        <th scope="col-md-3">Date</th>

                    </tr>
                </thead>
                <tbody>

                    <form id="formData" method="post" action="/admin/userData">
                        {{#each orderData}}

                        <tr>
                            <th scope="row">{{plus @index}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{#each this.products}}<P>{{ this.name}}
                        </P>{{/each}}</td>
                            <td>{{#each this.products}}<P>{{ this.price}}
                        </P>{{/each}}</td>
                            <td>{{#each this.products}}<P>{{ this.quantity}}
                        </P>{{/each}}</td>
                            <td>{{this.Address.address}}</td>

                            <td>{{this.date}}</td>



                        </tr>

                        {{/each}}
                    </form>



                </tbody>
            </table>
        </div>

        {{!-- cash on part --}}


    </div>
</div>